.logoTitleheader {

    font-weight: 900;

}

.logoTitleheader:hover {

    color: orange;

}

.linkLogoStyle:hover {

    color: orange;

}


.navbarStyle {

    border-bottom: 2px solid black;

}

.linkHeader:hover, .linkHeader:active, .linkHeader:focus {

        color: orange;



}